openapi: 3.1.0
info:
  description: Send push notifications and Live Activities to your own devices via
    a single API key.
  title: ActivitySmith API
  version: 1.0.0
servers:
- url: https://activitysmith.com/api
security:
- apiKeyAuth: []
tags:
- name: PushNotifications
- name: LiveActivities
paths:
  /push-notification:
    post:
      description: "Sends a push notification to devices matched by API key scope\
        \ and optional target channels. Supports optional redirection URL, optional\
        \ media preview or playback when the notification is expanded, and up to 4\
        \ interactive actions. `media` cannot be combined with `actions`."
      operationId: sendPushNotification
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
              channel_targeted:
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
                  target:
                    channels:
                    - devs
                    - ops
              redirection:
                value:
                  title: Incident Resolved ✅
                  message: All systems operational
                  redirection: https://status.example.com/incidents/abc-123
              media_preview:
                value:
                  title: Homepage ready
                  message: Your agent finished the redesign.
                  media: https://cdn.example.com/output/homepage.png
              media_preview_with_redirection:
                value:
                  title: Homepage ready
                  message: Your agent finished the redesign.
                  media: https://cdn.example.com/output/homepage.png
                  redirection: https://github.com/acme/web/pull/482
              actions_open_url:
                value:
                  title: Release Candidate Ready 🚀
                  message: v2.14.0-rc.1 deployed to staging
                  actions:
                  - title: View CI Run
                    type: open_url
                    url: https://github.com/activitysmithhq/backend/actions/runs/1234567890
                  - title: Release Notes
                    type: open_url
                    url: https://github.com/activitysmithhq/backend/releases/tag/v2.14.0-rc.1
              actions_webhook:
                value:
                  title: Build Failed 🚨
                  message: Tap and hold for remediation actions
                  redirection: https://ci.example.com/builds/8842
                  actions:
                  - title: Retry Build
                    type: webhook
                    url: https://hooks.example.com/activitysmith/build-retry
                    method: POST
                    body:
                      build_id: "8842"
                      source: push_action
            schema:
              $ref: '#/components/schemas/PushNotificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    timestamp: 2025-08-12T12:00:00.000Z
                channel_targeted:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs:
                    - devs
                    - ops
                    timestamp: 2025-08-12T12:00:00.000Z
              schema:
                $ref: '#/components/schemas/PushNotificationResponse'
          description: Push notification sent
        "400":
          content:
            application/json:
              examples:
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: target.channels must be an array of channel slugs
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid payload or channel targeting input)
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No devices matched the effective channel target
                    effective_channel_slugs:
                    - marketing
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/sendPushNotification_429_response'
          description: Rate limit exceeded
      summary: Send a push notification
      tags:
      - PushNotifications
  /live-activity/stream/{stream_key}:
    delete:
      description: "Use this endpoint when the process you are tracking is finished\
        \ and you no longer want the Live Activity on your devices. ActivitySmith\
        \ ends the current Live Activity for this stream and dismisses it from devices.\
        \ If you need direct lifecycle control, use /live-activity/start, /live-activity/update,\
        \ and /live-activity/end instead."
      operationId: endLiveActivityStream
      parameters:
      - description: "Stable identifier for one ongoing thing. Allowed characters:\
          \ letters, numbers, underscores, and hyphens."
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          maxLength: 255
          pattern: "^[A-Za-z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                value: {}
              with_content_state:
                value:
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 0
                      unit: '%'
                    - label: MEM
                      value: 0
                      unit: '%'
                    auto_dismiss_minutes: 2
            schema:
              $ref: '#/components/schemas/LiveActivityStreamDeleteRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              examples:
                ended:
                  value:
                    success: true
                    operation: ended
                    stream_key: linode-vps
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    devices_queued: 1
                    timestamp: 2025-08-12T12:10:00.000Z
                already_inactive:
                  value:
                    success: true
                    operation: ended
                    stream_key: linode-vps
                    activity_id: null
                    timestamp: 2025-08-12T12:10:00.000Z
              schema:
                $ref: '#/components/schemas/LiveActivityStreamDeleteResponse'
          description: Managed stream ended
        "400":
          content:
            application/json:
              examples:
                invalid_stream_key:
                  value:
                    error: Invalid stream_key
                    message: "stream_key must contain only letters, numbers, underscores,\
                      \ and hyphens"
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid stream_key or action)
        "404":
          content:
            application/json:
              examples:
                not_found:
                  value:
                    error: Live Activity stream not found
                    message: "No Live Activity stream found for stream_key: linode-vps"
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Managed stream not found
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: End a stream
      tags:
      - LiveActivities
    put:
      description: "Use this endpoint when you want the easiest, stateless way to\
        \ trigger Live Activities. You do not need to store activity_id or manage\
        \ the Live Activity lifecycle yourself. Send the latest state for a stable\
        \ stream_key and ActivitySmith will handle the rest for you: if there is no\
        \ Live Activity yet, it starts one; if there is already one for this stream,\
        \ it updates it. If you need direct lifecycle control, use /live-activity/start,\
        \ /live-activity/update, and /live-activity/end instead."
      operationId: reconcileLiveActivityStream
      parameters:
      - description: "Stable identifier for one ongoing thing. Allowed characters:\
          \ letters, numbers, underscores, and hyphens."
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          maxLength: 255
          pattern: "^[A-Za-z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              metrics:
                value:
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 27
                      unit: '%'
                    - label: MEM
                      value: 64
                      unit: '%'
              channel_targeted:
                value:
                  channels:
                  - ops
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 27
                      unit: '%'
                    - label: MEM
                      value: 64
                      unit: '%'
            schema:
              $ref: '#/components/schemas/LiveActivityStreamRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                started:
                  value:
                    success: true
                    operation: started
                    stream_key: linode-vps
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    devices_notified: 2
                    timestamp: 2025-08-12T12:00:00.000Z
                noop:
                  value:
                    success: true
                    operation: noop
                    stream_key: linode-vps
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    timestamp: 2025-08-12T12:05:00.000Z
                paused:
                  value:
                    success: true
                    operation: paused
                    stream_key: linode-vps
                    activity_id: null
                    timestamp: 2025-08-12T12:10:00.000Z
              schema:
                $ref: '#/components/schemas/LiveActivityStreamPutResponse'
          description: Stream reconciled
        "400":
          content:
            application/json:
              examples:
                invalid_stream_key:
                  value:
                    error: Invalid stream_key
                    message: "stream_key must contain only letters, numbers, underscores,\
                      \ and hyphens"
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: channels must contain at least one channel
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: "Bad request (invalid stream_key, payload, action, or channel\
            \ targeting input)"
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No Live Activity devices matched the effective channel
                      target
                    effective_channel_slugs:
                    - ops
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
                concurrent_live_activity_limit_reached:
                  value:
                    error: Live Activity limit reached
                    message: Only 4 concurrent Live Activities are allowed per account
                    limit: 4
                    active: 4
              schema:
                $ref: '#/components/schemas/sendPushNotification_429_response'
          description: Rate limit exceeded
      summary: Send a stream update
      tags:
      - LiveActivities
  /live-activity/start:
    post:
      description: "Starts a Live Activity on devices matched by API key scope and\
        \ optional target channels. Supports segmented_progress, progress, and metrics\
        \ activity types. For segmented_progress activities, number_of_steps can be\
        \ changed later during update or end calls if the workflow changes."
      operationId: startLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              segmented_progress:
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
              progress:
                value:
                  content_state:
                    title: EV Charging
                    subtitle: Added 30 mi range
                    percentage: 15
                    type: progress
                    color: lime
              metrics:
                value:
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 21
                      unit: '%'
                    - label: MEM
                      value: 64
                      unit: '%'
              open_url_action:
                value:
                  content_state:
                    title: Deploying payments-api
                    subtitle: Running database migrations
                    number_of_steps: 5
                    current_step: 3
                    type: segmented_progress
                  action:
                    title: Open Workflow
                    type: open_url
                    url: https://github.com/acme/payments-api/actions/runs/1234567890
              segmented_progress_channel_targeted:
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
                  target:
                    channels:
                    - devs
                    - ops
            schema:
              $ref: '#/components/schemas/LiveActivityStartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                segmented_progress:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    timestamp: 2026-01-28T09:57:22.929Z
                segmented_progress_channel_targeted:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs:
                    - devs
                    - ops
                    timestamp: 2026-01-28T09:57:22.929Z
              schema:
                $ref: '#/components/schemas/LiveActivityStartResponse'
          description: Live Activity started
        "400":
          content:
            application/json:
              examples:
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: target.channels must be an array of channel slugs
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid payload or channel targeting input)
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No Live Activity devices matched the effective channel
                      target
                    effective_channel_slugs:
                    - marketing
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
                concurrent_live_activity_limit_reached:
                  value:
                    error: Live Activity limit reached
                    message: Only 4 concurrent Live Activities are allowed per account
                    limit: 4
                    active: 4
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Start a Live Activity
      tags:
      - LiveActivities
  /live-activity/update:
    post:
      description: "Updates an existing Live Activity. If the per-activity token is\
        \ not registered yet, the update is queued. Supports segmented_progress, progress,\
        \ and metrics activity types. For segmented_progress activities, you can increase\
        \ or decrease number_of_steps here as the workflow changes."
      operationId: updateLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              segmented_progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Nightly database backup
                    subtitle: upload archive
                    number_of_steps: 3
                    current_step: 2
              progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: EV Charging
                    subtitle: Added 120 mi range
                    percentage: 60
              metrics:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 25
                      unit: '%'
                    - label: MEM
                      value: 67
                      unit: '%'
              webhook_action:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Reindexing product search
                    subtitle: Shard 7 of 12
                    number_of_steps: 12
                    current_step: 7
                  action:
                    title: Pause Reindex
                    type: webhook
                    url: https://ops.example.com/hooks/search/reindex/pause
                    method: POST
                    body:
                      job_id: reindex-2026-03-19
                      requested_by: activitysmith_live_activity
                      reason: paused_from_ios_live_activity
            schema:
              $ref: '#/components/schemas/LiveActivityUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                sent:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    devices_queued: 0
                    timestamp: 2026-01-28T09:57:26.056Z
              schema:
                $ref: '#/components/schemas/LiveActivityUpdateResponse'
          description: Live Activity updated (or queued)
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Forbidden
                    message: This API key cannot update this Live Activity
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (activity not owned by this API key account)
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Update a Live Activity
      tags:
      - LiveActivities
  /live-activity/end:
    post:
      description: "Ends a Live Activity and archives its lifecycle. Supports segmented_progress,\
        \ progress, and metrics activity types. For segmented_progress activities,\
        \ you can send the latest number_of_steps here if the workflow changed after\
        \ start."
      operationId: endLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              segmented_progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Nightly database backup
                    subtitle: verify restore
                    number_of_steps: 3
                    current_step: 3
                    auto_dismiss_minutes: 2
              progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: EV Charging
                    subtitle: Added 200 mi range
                    percentage: 100
                    auto_dismiss_minutes: 2
              metrics:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 0
                      unit: '%'
                    - label: MEM
                      value: 0
                      unit: '%'
                    auto_dismiss_minutes: 2
              open_url_action:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Deploying payments-api
                    subtitle: Production rollout complete
                    number_of_steps: 5
                    current_step: 5
                    auto_dismiss_minutes: 10
                  action:
                    title: Open Workflow
                    type: open_url
                    url: https://github.com/acme/payments-api/actions/runs/1234567890
            schema:
              $ref: '#/components/schemas/LiveActivityEndRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                segmented_progress:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    devices_queued: 0
                    timestamp: 2026-01-28T09:57:29.258Z
              schema:
                $ref: '#/components/schemas/LiveActivityEndResponse'
          description: Live Activity ended
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Forbidden
                    message: This API key cannot end this Live Activity
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (activity not owned by this API key account)
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: End a Live Activity
      tags:
      - LiveActivities
components:
  schemas:
    ContentStateStart:
      additionalProperties: true
      description: "Start payload requires title and type. For segmented_progress\
        \ include number_of_steps and current_step. For progress include percentage\
        \ or value with upper_limit. For metrics include a non-empty metrics array.\
        \ For segmented_progress, number_of_steps is not locked and can be changed\
        \ in later update or end calls."
      example:
        color: blue
        step_color: lime
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        upper_limit: 5.637376656633329
        metrics:
        - unit: unit
          label: label
          value: 23.02135886934765
        - unit: unit
          label: label
          value: 23.02135886934765
        title: title
        number_of_steps: 1
        type: segmented_progress
        value: 5.962133916683182
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: Total number of steps. Use for type=segmented_progress. This
            value can be increased or decreased later when updating or ending the
            same activity.
          minimum: 1
          type: integer
        current_step:
          description: Current step. Use for type=segmented_progress.
          minimum: 1
          type: integer
        percentage:
          description: Progress percentage (0–100). Use for type=progress. Takes precedence
            over value/upper_limit if both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for type=progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for type=progress.
          type: number
        metrics:
          description: Use for type=metrics.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          minItems: 1
          type: array
        type:
          enum:
          - segmented_progress
          - progress
          - metrics
          type: string
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to type=segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            type: string
          type: array
      required:
      - title
      - type
    ContentStateUpdate:
      additionalProperties: true
      description: Update payload requires title. For segmented_progress include current_step
        and optionally number_of_steps. For progress include percentage or value with
        upper_limit. For metrics include a non-empty metrics array. Type is optional
        when updating an existing activity. You can increase or decrease number_of_steps
        during updates.
      example:
        color: blue
        step_color: lime
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        upper_limit: 5.637376656633329
        metrics:
        - unit: unit
          label: label
          value: 23.02135886934765
        - unit: unit
          label: label
          value: 23.02135886934765
        title: title
        number_of_steps: 1
        type: segmented_progress
        value: 5.962133916683182
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: "Total number of steps. Use for type=segmented_progress. Optional\
            \ on update, and safe to change if the workflow gains or loses steps."
          minimum: 1
          type: integer
        current_step:
          description: Current step. Use for type=segmented_progress.
          minimum: 1
          type: integer
        percentage:
          description: Progress percentage (0–100). Use for type=progress. Takes precedence
            over value/upper_limit if both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for type=progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for type=progress.
          type: number
        metrics:
          description: Use for type=metrics.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          minItems: 1
          type: array
        type:
          description: "Optional. When omitted, the API uses the existing Live Activity\
            \ type."
          enum:
          - segmented_progress
          - progress
          - metrics
          type: string
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to type=segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            type: string
          type: array
      required:
      - title
    ContentStateEnd:
      additionalProperties: true
      description: End payload requires title. For segmented_progress include current_step
        and optionally number_of_steps. For progress include percentage or value with
        upper_limit. For metrics include a non-empty metrics array. Type is optional
        when ending an existing activity. You can send an updated number_of_steps
        here if the workflow changed after start.
      example:
        color: blue
        step_color: lime
        auto_dismiss_minutes: 0
        upper_limit: 5.637376656633329
        title: title
        type: segmented_progress
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        metrics:
        - unit: unit
          label: label
          value: 23.02135886934765
        - unit: unit
          label: label
          value: 23.02135886934765
        number_of_steps: 1
        value: 5.962133916683182
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: "Total number of steps. Use for type=segmented_progress. Optional\
            \ on end, and safe to change if the final workflow used more or fewer\
            \ steps than originally planned."
          minimum: 1
          type: integer
        current_step:
          description: Current step. Use for type=segmented_progress.
          minimum: 1
          type: integer
        percentage:
          description: Progress percentage (0–100). Use for type=progress. Takes precedence
            over value/upper_limit if both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for type=progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for type=progress.
          type: number
        metrics:
          description: Use for type=metrics.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          minItems: 1
          type: array
        type:
          description: "Optional. When omitted, the API uses the existing Live Activity\
            \ type."
          enum:
          - segmented_progress
          - progress
          - metrics
          type: string
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to type=segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            type: string
          type: array
        auto_dismiss_minutes:
          default: 3
          description: Optional. Minutes before the ended Live Activity is dismissed.
            Default 3. Set 0 for immediate dismissal. iOS will dismiss ended Live
            Activities after ~4 hours max.
          minimum: 0
          type: integer
      required:
      - title
    StreamContentState:
      additionalProperties: true
      description: "Current state for a managed Live Activity stream. Include type\
        \ on the first PUT, and whenever the stream may need to start a fresh activity.\
        \ Supports segmented_progress, progress, and metrics types."
      example:
        color: blue
        step_color: lime
        auto_dismiss_minutes: 0
        upper_limit: 5.637376656633329
        title: title
        type: segmented_progress
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        metrics:
        - unit: unit
          label: label
          value: 23.02135886934765
        - unit: unit
          label: label
          value: 23.02135886934765
        number_of_steps: 1
        auto_dismiss_seconds: 0
        value: 5.962133916683182
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: Use for segmented_progress.
          minimum: 1
          type: integer
        current_step:
          description: Use for segmented_progress.
          minimum: 1
          type: integer
        percentage:
          description: Use for progress. Takes precedence over value/upper_limit if
            both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for progress.
          type: number
        type:
          description: Required on the first PUT or whenever the stream cannot infer
            the current activity type.
          enum:
          - segmented_progress
          - progress
          - metrics
          type: string
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            type: string
          type: array
        metrics:
          description: Use for metrics activities.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          minItems: 1
          type: array
        auto_dismiss_seconds:
          description: Optional. Seconds before the ended Live Activity is dismissed.
          minimum: 0
          type: integer
        auto_dismiss_minutes:
          description: Optional. Minutes before the ended Live Activity is dismissed.
          minimum: 0
          type: integer
      required:
      - title
    ActivityMetric:
      additionalProperties: true
      example:
        unit: unit
        label: label
        value: 23.02135886934765
      properties:
        label:
          minLength: 1
          type: string
        value:
          maximum: 100
          minimum: 0
          type: number
        unit:
          type: string
      required:
      - label
      - value
    AlertPayload:
      additionalProperties: true
      example:
        title: title
        body: body
      properties:
        title:
          type: string
        body:
          type: string
    ChannelTarget:
      additionalProperties: true
      example:
        channels:
        - channels
        - channels
      properties:
        channels:
          description: "Channel slugs. When omitted, API key scope determines recipients."
          items:
            type: string
          minItems: 1
          type: array
      required:
      - channels
    PushNotificationActionType:
      enum:
      - open_url
      - webhook
      type: string
    PushNotificationWebhookMethod:
      default: POST
      enum:
      - GET
      - POST
      type: string
    PushNotificationAction:
      additionalProperties: {}
      example:
        method: POST
        title: title
        type: open_url
        body:
          key: ""
        url: https://openapi-generator.tech
      properties:
        title:
          description: Button title displayed in iOS expanded notification UI.
        type:
          $ref: '#/components/schemas/PushNotificationActionType'
        url:
          description: HTTPS URL. For open_url it is opened in browser. For webhook
            it is called by ActivitySmith backend.
          format: uri
          pattern: ^https://
        method:
          $ref: '#/components/schemas/PushNotificationWebhookMethod'
        body:
          additionalProperties: true
          description: Optional webhook payload body. Used only when type=webhook.
      required:
      - title
      - type
      - url
    LiveActivityActionType:
      enum:
      - open_url
      - webhook
      type: string
    LiveActivityWebhookMethod:
      default: POST
      enum:
      - GET
      - POST
      type: string
    LiveActivityAction:
      additionalProperties: true
      description: Optional single action button shown in the Live Activity UI.
      example:
        method: POST
        title: title
        type: open_url
        body:
          key: ""
        url: https://openapi-generator.tech
      properties:
        title:
          description: Button title displayed in the Live Activity UI.
          type: string
        type:
          $ref: '#/components/schemas/LiveActivityActionType'
        url:
          description: HTTPS URL. For open_url it is opened in browser. For webhook
            it is called by ActivitySmith backend.
          format: uri
          pattern: ^https://
          type: string
        method:
          $ref: '#/components/schemas/LiveActivityWebhookMethod'
        body:
          additionalProperties: true
          description: Optional webhook payload body. Used only when type=webhook.
          type: object
      required:
      - title
      - type
      - url
    PushNotificationRequest:
      additionalProperties: {}
      example:
        badge: 0
        payload:
          key: ""
        subtitle: subtitle
        sound: sound
        media: https://openapi-generator.tech
        title: title
        message: message
        redirection: https://openapi-generator.tech
        actions:
        - method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
        - method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
        - method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
        - method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
        target:
          channels:
          - channels
          - channels
      properties:
        title: {}
        message: {}
        subtitle: {}
        media:
          description: "Optional HTTPS URL for an image, audio file, or video that\
            \ users can preview or play when they expand the notification. If `redirection`\
            \ is omitted, tapping the notification opens this URL. Cannot be combined\
            \ with `actions`."
          format: uri
          pattern: ^https://
        redirection:
          description: Optional HTTPS URL opened when user taps the notification body.
            Overrides the default tap target from `media` when both are provided.
          format: uri
          pattern: ^https://
        actions:
          description: Optional interactive actions shown when users expand the notification.
            Cannot be combined with `media`.
          items:
            $ref: '#/components/schemas/PushNotificationAction'
          maxItems: 4
        payload:
          additionalProperties: true
        badge: {}
        sound: {}
        target:
          $ref: '#/components/schemas/ChannelTarget'
      required:
      - title
    PushNotificationResponse:
      additionalProperties: true
      example:
        success: true
        users_notified: 6
        devices_notified: 0
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        devices_notified:
          type: integer
        users_notified:
          type: integer
        effective_channel_slugs:
          items:
            type: string
          type: array
        timestamp:
          format: date-time
          type: string
      required:
      - success
      - timestamp
    LiveActivityStartRequest:
      additionalProperties: true
      description: Start a new Live Activity. The response includes activity_id for
        later update and end calls.
      example:
        content_state:
          color: blue
          step_color: lime
          step_colors:
          - lime
          - lime
          subtitle: subtitle
          percentage: 14.658129805029452
          upper_limit: 5.637376656633329
          metrics:
          - unit: unit
            label: label
            value: 23.02135886934765
          - unit: unit
            label: label
            value: 23.02135886934765
          title: title
          number_of_steps: 1
          type: segmented_progress
          value: 5.962133916683182
          current_step: 1
        alert:
          title: title
          body: body
        action:
          method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
        target:
          channels:
          - channels
          - channels
      properties:
        content_state:
          $ref: '#/components/schemas/ContentStateStart'
        action:
          $ref: '#/components/schemas/LiveActivityAction'
        alert:
          $ref: '#/components/schemas/AlertPayload'
        target:
          $ref: '#/components/schemas/ChannelTarget'
      required:
      - content_state
    LiveActivityStartResponse:
      additionalProperties: true
      description: Returned after a Live Activity starts. Save activity_id and use
        it for all later updates and for the final end call.
      example:
        success: true
        users_notified: 6
        activity_id: activity_id
        devices_notified: 0
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        devices_notified:
          type: integer
        users_notified:
          type: integer
        activity_id:
          type: string
        effective_channel_slugs:
          items:
            type: string
          type: array
        timestamp:
          format: date-time
          type: string
      required:
      - activity_id
      - success
      - timestamp
    LiveActivityStreamRequest:
      additionalProperties: true
      description: "Send the latest state for a managed Live Activity stream. channels\
        \ is the streamlined form for stream targeting. target.channels is also accepted\
        \ for compatibility. If both are provided, they must match."
      example:
        content_state:
          color: blue
          step_color: lime
          auto_dismiss_minutes: 0
          upper_limit: 5.637376656633329
          title: title
          type: segmented_progress
          step_colors:
          - lime
          - lime
          subtitle: subtitle
          percentage: 14.658129805029452
          metrics:
          - unit: unit
            label: label
            value: 23.02135886934765
          - unit: unit
            label: label
            value: 23.02135886934765
          number_of_steps: 1
          auto_dismiss_seconds: 0
          value: 5.962133916683182
          current_step: 1
        channels:
        - channels
        - channels
        alert:
          title: title
          body: body
        action:
          method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
        target:
          channels:
          - channels
          - channels
      properties:
        content_state:
          $ref: '#/components/schemas/StreamContentState'
        action:
          $ref: '#/components/schemas/LiveActivityAction'
        alert:
          $ref: '#/components/schemas/AlertPayload'
        channels:
          description: "Channel slugs. When omitted, API key scope determines recipients."
          items:
            type: string
          minItems: 1
          type: array
        target:
          $ref: '#/components/schemas/ChannelTarget'
      required:
      - content_state
    LiveActivityStreamPutResponse:
      additionalProperties: true
      description: Returned after a managed stream request is reconciled.
      example:
        devices_queued: 6
        previous_activity_id: previous_activity_id
        success: true
        users_notified: 1
        activity_id: activity_id
        devices_notified: 0
        operation: started
        stream_key: stream_key
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        operation:
          enum:
          - started
          - updated
          - rotated
          - noop
          - paused
          type: string
        stream_key:
          type: string
        activity_id:
          nullable: true
          type: string
        previous_activity_id:
          type: string
        devices_notified:
          type: integer
        devices_queued:
          type: integer
        users_notified:
          type: integer
        effective_channel_slugs:
          items:
            type: string
          type: array
        timestamp:
          format: date-time
          type: string
      required:
      - operation
      - stream_key
      - success
      - timestamp
    LiveActivityStreamDeleteRequest:
      additionalProperties: true
      description: "Optional payload for ending a managed stream. When omitted, ActivitySmith\
        \ ends the stream using the latest known state when possible."
      example:
        content_state:
          color: blue
          step_color: lime
          auto_dismiss_minutes: 0
          upper_limit: 5.637376656633329
          title: title
          type: segmented_progress
          step_colors:
          - lime
          - lime
          subtitle: subtitle
          percentage: 14.658129805029452
          metrics:
          - unit: unit
            label: label
            value: 23.02135886934765
          - unit: unit
            label: label
            value: 23.02135886934765
          number_of_steps: 1
          auto_dismiss_seconds: 0
          value: 5.962133916683182
          current_step: 1
        alert:
          title: title
          body: body
        action:
          method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
      properties:
        content_state:
          $ref: '#/components/schemas/StreamContentState'
        action:
          $ref: '#/components/schemas/LiveActivityAction'
        alert:
          $ref: '#/components/schemas/AlertPayload'
    LiveActivityStreamDeleteResponse:
      additionalProperties: true
      description: Returned after a managed stream is ended and removed.
      example:
        devices_queued: 0
        success: true
        activity_id: activity_id
        devices_notified: 6
        operation: ended
        stream_key: stream_key
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        operation:
          enum:
          - ended
          type: string
        stream_key:
          type: string
        activity_id:
          nullable: true
          type: string
        devices_queued:
          type: integer
        devices_notified:
          type: integer
        timestamp:
          format: date-time
          type: string
      required:
      - operation
      - stream_key
      - success
      - timestamp
    BadRequestError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    ForbiddenError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    NoRecipientsError:
      additionalProperties: true
      example:
        error: error
        message: message
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
      properties:
        error:
          type: string
        message:
          type: string
        effective_channel_slugs:
          items:
            type: string
          type: array
      required:
      - error
      - message
    NotFoundError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    RateLimitError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    LiveActivityLimitError:
      additionalProperties: true
      properties:
        error:
          type: string
        message:
          type: string
        limit:
          type: integer
        active:
          description: Current number of active Live Activities.
          type: integer
      required:
      - active
      - error
      - limit
      - message
    LiveActivityUpdateRequest:
      additionalProperties: true
      description: Update an existing Live Activity by activity_id.
      example:
        content_state:
          color: blue
          step_color: lime
          step_colors:
          - lime
          - lime
          subtitle: subtitle
          percentage: 14.658129805029452
          upper_limit: 5.637376656633329
          metrics:
          - unit: unit
            label: label
            value: 23.02135886934765
          - unit: unit
            label: label
            value: 23.02135886934765
          title: title
          number_of_steps: 1
          type: segmented_progress
          value: 5.962133916683182
          current_step: 1
        activity_id: activity_id
        action:
          method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
      properties:
        activity_id:
          type: string
        content_state:
          $ref: '#/components/schemas/ContentStateUpdate'
        action:
          $ref: '#/components/schemas/LiveActivityAction'
      required:
      - activity_id
      - content_state
    LiveActivityUpdateResponse:
      additionalProperties: true
      description: Returned after a Live Activity update is sent or queued.
      example:
        devices_queued: 0
        success: true
        activity_id: activity_id
        devices_notified: 6
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        activity_id:
          type: string
        devices_queued:
          type: integer
        devices_notified:
          type: integer
        timestamp:
          format: date-time
          type: string
      required:
      - activity_id
      - success
      - timestamp
    LiveActivityEndRequest:
      additionalProperties: true
      description: End an existing Live Activity by activity_id.
      example:
        content_state:
          color: blue
          step_color: lime
          auto_dismiss_minutes: 0
          upper_limit: 5.637376656633329
          title: title
          type: segmented_progress
          step_colors:
          - lime
          - lime
          subtitle: subtitle
          percentage: 14.658129805029452
          metrics:
          - unit: unit
            label: label
            value: 23.02135886934765
          - unit: unit
            label: label
            value: 23.02135886934765
          number_of_steps: 1
          value: 5.962133916683182
          current_step: 1
        activity_id: activity_id
        action:
          method: POST
          title: title
          type: open_url
          body:
            key: ""
          url: https://openapi-generator.tech
      properties:
        activity_id:
          type: string
        content_state:
          $ref: '#/components/schemas/ContentStateEnd'
        action:
          $ref: '#/components/schemas/LiveActivityAction'
      required:
      - activity_id
      - content_state
    LiveActivityEndResponse:
      additionalProperties: true
      description: Returned after a Live Activity end event is sent or queued.
      example:
        devices_queued: 0
        success: true
        activity_id: activity_id
        devices_notified: 6
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        activity_id:
          type: string
        devices_queued:
          type: integer
        devices_notified:
          type: integer
        timestamp:
          format: date-time
          type: string
      required:
      - activity_id
      - success
      - timestamp
    sendPushNotification_429_response:
      oneOf:
      - $ref: '#/components/schemas/RateLimitError'
      - $ref: '#/components/schemas/LiveActivityLimitError'
  securitySchemes:
    apiKeyAuth:
      bearerFormat: API Key
      description: "Required. Include `Authorization: Bearer ask_123456789` in every\
        \ request. Replace `ask_123456789` with your API key."
      scheme: bearer
      type: http
