openapi: 3.1.0
info:
  description: Send push notifications and Live Activities to your own devices via
    a single API key.
  title: ActivitySmith API
  version: 1.0.0
servers:
- url: https://activitysmith.com/api
security:
- apiKeyAuth: []
tags:
- description: Unauthenticated service information and public product updates.
  name: Public
- description: Send push notifications to paired devices.
  name: PushNotifications
- description: Update App Icon Badge Counts on paired devices.
  name: AppIconBadges
- description: "Start, update, stream, and end Live Activities."
  name: LiveActivities
- description: Update metric values shown in ActivitySmith widgets.
  name: Metrics
paths:
  /health:
    get:
      description: Returns the current availability of the ActivitySmith API and its
        required services. No authentication is required.
      operationId: getApiHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
          description: The API and its required services are available.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
          description: One or more required services are unavailable.
      security: []
      summary: Get API Health
      tags:
      - Public
  /changelog:
    get:
      description: Returns published ActivitySmith app changelog entries. No authentication
        is required.
      operationId: listPublicChangelogEntries
      parameters:
      - description: Platform whose published changelog entries should be returned.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          default: ios
          type: string
        style: form
      - description: Maximum number of entries to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogListResponse'
          description: Published changelog entries ordered from newest to oldest.
      security: []
      summary: List Public Changelog Entries
      tags:
      - Public
  /badge:
    post:
      description: Shows a number on the ActivitySmith app icon.
      operationId: updateAppIconBadgeCount
      requestBody:
        content:
          application/json:
            examples:
              set_count:
                value:
                  badge: 8333
              clear_count:
                value:
                  badge: 0
              channel_targeted:
                value:
                  badge: 3
                  target:
                    channels:
                    - sales
                    - customer-success
            schema:
              $ref: '#/components/schemas/AppIconBadgeCountUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  value:
                    success: true
                    badge: 8333
                    devices_updated: 2
                    users_updated: 1
                    effective_channel_slugs: null
                    timestamp: 2026-07-10T12:00:00.000Z
                channel_targeted:
                  value:
                    success: true
                    badge: 3
                    devices_updated: 2
                    users_updated: 1
                    effective_channel_slugs:
                    - sales
                    - customer-success
                    timestamp: 2026-07-10T12:00:00.000Z
              schema:
                $ref: '#/components/schemas/AppIconBadgeCountUpdateResponse'
          description: App Icon Badge Count updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAppIconBadgeCount_422_response'
          description: "No matching devices found, or a targeted device needs to reconnect"
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppIconBadgeCountUpdateError'
          description: App Icon Badge Count could not be updated
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Set App Icon Badge Count
      tags:
      - AppIconBadges
      x-codeSamples:
      - lang: javascript
        label: Node
        source: await activitysmith.badgeCount(8333);
      - lang: python
        label: Python
        source: activitysmith.badge_count(8333)
      - lang: go
        label: Go
        source: activitysmith.BadgeCount(8333)
      - lang: php
        label: PHP
        source: $activitysmith->badgeCount(8333);
      - lang: ruby
        label: Ruby
        source: activitysmith.badge_count(8333)
      - lang: bash
        label: CLI
        source: activitysmith badge 8333
      - lang: bash
        label: cURL
        source: |-
          curl -X POST "https://activitysmith.com/api/badge" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "badge": 8333
            }'
  /push-notification:
    post:
      description: "Sends a push notification to devices matched by API key scope\
        \ and optional target channels. Supports optional redirection URL, optional\
        \ media preview or playback when the notification is expanded, and up to 4\
        \ interactive actions. `media` cannot be combined with `actions`. Optional\
        \ tags to organize and filter notification history."
      operationId: sendPushNotification
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
              channel_targeted:
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
                  target:
                    channels:
                    - devs
                    - ops
              redirection:
                value:
                  title: Incident Resolved ✅
                  message: All systems operational
                  redirection: https://status.example.com/incidents/abc-123
              media_preview:
                value:
                  title: Homepage ready
                  message: Your agent finished the redesign.
                  media: https://cdn.example.com/output/homepage.png
              media_preview_with_redirection:
                value:
                  title: Homepage ready
                  message: Your agent finished the redesign.
                  media: https://cdn.example.com/output/homepage.png
                  redirection: https://github.com/acme/web/pull/482
              actions_open_url:
                value:
                  title: Release Candidate Ready 🚀
                  message: v2.14.0-rc.1 deployed to staging
                  actions:
                  - title: View CI Run
                    type: open_url
                    url: https://github.com/activitysmithhq/backend/actions/runs/1234567890
                  - title: Release Notes
                    type: open_url
                    url: https://github.com/activitysmithhq/backend/releases/tag/v2.14.0-rc.1
              actions_webhook:
                value:
                  title: Build Failed 🚨
                  message: Tap and hold for remediation actions
                  redirection: https://ci.example.com/builds/8842
                  actions:
                  - title: Retry Build
                    type: webhook
                    url: https://hooks.example.com/activitysmith/build-retry
                    method: POST
                    body:
                      build_id: "8842"
                      source: push_action
              tagged:
                summary: Organize notification history with tags
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
                  tags:
                  - user:382
                  - billing
            schema:
              $ref: '#/components/schemas/PushNotificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    timestamp: 2025-08-12T12:00:00.000Z
                channel_targeted:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs:
                    - devs
                    - ops
                    timestamp: 2025-08-12T12:00:00.000Z
                tagged:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs: null
                    tags:
                    - user:382
                    - billing
                    timestamp: 2025-08-12T12:00:00.000Z
              schema:
                $ref: '#/components/schemas/PushNotificationResponse'
          description: Push notification sent
        "400":
          content:
            application/json:
              examples:
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: target.channels must be an array of channel slugs
                invalid_tags:
                  value:
                    error: Invalid tags
                    code: invalid_tags
                    message: "tags must use 1-64 lowercase letters, numbers, dashes,\
                      \ underscores, periods, or colons"
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid payload or channel targeting input)
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No devices matched the effective channel target
                    effective_channel_slugs:
                    - marketing
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/sendPushNotification_429_response'
          description: Rate limit exceeded
      summary: Send a push notification
      tags:
      - PushNotifications
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          await activitysmith.notifications.send({
            title: "New subscription 💸",
            message: "Customer upgraded to Pro plan",
          });
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          activitysmith.notifications.send({
              "title": "New subscription 💸",
              "message": "Customer upgraded to Pro plan",
          })
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n)\n\nfunc main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t_, err = activitysmith.Notifications.Send(activitysmithsdk.PushNotificationInput{\n\
          \t\tTitle:   \"New subscription 💸\",\n\t\tMessage: \"Customer upgraded\
          \ to Pro plan\",\n\t})\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $activitysmith->notifications->send([
              'title' => 'New subscription 💸',
              'message' => 'Customer upgraded to Pro plan',
          ]);
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          activitysmith.notifications.send(
            title: "New subscription 💸",
            message: "Customer upgraded to Pro plan"
          )
      - lang: bash
        label: cURL
        source: |-
          curl -X POST "https://activitysmith.com/api/push-notification" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "title": "New subscription 💸",
              "message": "Customer upgraded to Pro plan"
            }'
  /live-activity/stream/{stream_key}:
    delete:
      description: "Use this endpoint when the process you are tracking is finished\
        \ and you no longer want the Live Activity on your devices. ActivitySmith\
        \ ends the current Live Activity for this stream and dismisses it from devices.\
        \ If you need direct lifecycle control, use /live-activity/start, /live-activity/update,\
        \ and /live-activity/end instead. Use secondary_action for a second button\
        \ on alert, progress, and segmented_progress Live Activities."
      operationId: endLiveActivityStream
      parameters:
      - description: "Stable identifier for one ongoing thing. Allowed characters:\
          \ letters, numbers, underscores, and hyphens."
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          maxLength: 255
          pattern: "^[A-Za-z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                value: {}
              with_content_state:
                value:
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 0
                      unit: '%'
                    - label: MEM
                      value: 0
                      unit: '%'
                    auto_dismiss_minutes: 2
            schema:
              $ref: '#/components/schemas/LiveActivityStreamDeleteRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              examples:
                ended:
                  value:
                    success: true
                    operation: ended
                    stream_key: prod-web-1
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    devices_queued: 1
                    timestamp: 2025-08-12T12:10:00.000Z
                already_inactive:
                  value:
                    success: true
                    operation: ended
                    stream_key: prod-web-1
                    activity_id: null
                    timestamp: 2025-08-12T12:10:00.000Z
              schema:
                $ref: '#/components/schemas/LiveActivityStreamDeleteResponse'
          description: Managed stream ended
        "400":
          content:
            application/json:
              examples:
                invalid_stream_key:
                  value:
                    error: Invalid stream_key
                    message: "stream_key must contain only letters, numbers, underscores,\
                      \ and hyphens"
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid stream_key or action)
        "404":
          content:
            application/json:
              examples:
                not_found:
                  value:
                    error: Live Activity stream not found
                    message: "No Live Activity stream found for stream_key: prod-web-1"
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Managed stream not found
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: End a stream
      tags:
      - LiveActivities
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          await activitysmith.liveActivities.endStream("prod-web-1", {
            content_state: {
              title: "Server Health",
              subtitle: "prod-web-1",
              type: "metrics",
              metrics: [
                { label: "CPU", value: 7, unit: "%" },
                { label: "MEM", value: 38, unit: "%" },
              ],
            },
          });
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          activitysmith.live_activities.end_stream(
              "prod-web-1",
              {
                  "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                          {"label": "CPU", "value": 7, "unit": "%"},
                          {"label": "MEM", "value": 38, "unit": "%"},
                      ],
                  },
              },
          )
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n\t\"github.com/ActivitySmithHQ/activitysmith-go/generated\"\n)\n\nfunc\
          \ main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t_, err = activitysmith.LiveActivities.EndStream(\"\
          prod-web-1\", activitysmithsdk.LiveActivityStreamEndInput{\n\t\tTitle: \
          \   \"Server Health\",\n\t\tSubtitle: \"prod-web-1\",\n\t\tType:     \"\
          metrics\",\n\t\tMetrics: []generated.ActivityMetric{\n\t\t\t{Label: \"CPU\"\
          , Value: 7, Unit: generated.PtrString(\"%\")},\n\t\t\t{Label: \"MEM\", Value:\
          \ 38, Unit: generated.PtrString(\"%\")},\n\t\t},\n\t})\n\tif err != nil\
          \ {\n\t\tlog.Fatal(err)\n\t}\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $activitysmith->liveActivities->endStream('prod-web-1', [
              'content_state' => [
                  'title' => 'Server Health',
                  'subtitle' => 'prod-web-1',
                  'type' => 'metrics',
                  'metrics' => [
                      ['label' => 'CPU', 'value' => 7, 'unit' => '%'],
                      ['label' => 'MEM', 'value' => 38, 'unit' => '%'],
                  ],
              ],
          ]);
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          activitysmith.live_activities.end_stream(
            "prod-web-1",
            {
              content_state: {
                title: "Server Health",
                subtitle: "prod-web-1",
                type: "metrics",
                metrics: [
                  { label: "CPU", value: 7, unit: "%" },
                  { label: "MEM", value: 38, unit: "%" }
                ]
              }
            }
          )
      - lang: bash
        label: cURL
        source: |-
          curl -X DELETE "https://activitysmith.com/api/live-activity/stream/prod-web-1" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "content_state": {
                "title": "Server Health",
                "subtitle": "prod-web-1",
                "type": "metrics",
                "metrics": [
                  { "label": "CPU", "value": 7, "unit": "%" },
                  { "label": "MEM", "value": 38, "unit": "%" }
                ]
              }
            }'
    put:
      description: "Use a stable stream_key for each ongoing thing you want to show\
        \ as a Live Activity. Send the latest content_state whenever it changes, and\
        \ ActivitySmith will keep the Live Activity in sync. For timer streams, send\
        \ duration_seconds to start or reset the timer; omit duration_seconds on later\
        \ updates to preserve the existing timer window. Use secondary_action for\
        \ a second button on alert, progress, and segmented_progress Live Activities.\
        \ Optional tags to organize and filter notification history. On later stream\
        \ updates, omit tags to keep the current tags, send tags again to replace\
        \ them, or send an empty array to clear them."
      operationId: reconcileLiveActivityStream
      parameters:
      - description: "Stable identifier for one ongoing thing. Allowed characters:\
          \ letters, numbers, underscores, and hyphens."
        explode: false
        in: path
        name: stream_key
        required: true
        schema:
          maxLength: 255
          pattern: "^[A-Za-z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              metrics:
                value:
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 27
                      unit: '%'
                    - label: MEM
                      value: 64
                      unit: '%'
              channel_targeted:
                value:
                  channels:
                  - ops
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 27
                      unit: '%'
                    - label: MEM
                      value: 64
                      unit: '%'
              timer:
                value:
                  content_state:
                    title: Benchmark Run
                    subtitle: sampling
                    type: timer
                    duration_seconds: 300
                    color: cyan
              approval_secondary_actions:
                value:
                  content_state:
                    title: Approval Needed
                    message: Should I send the follow-up email to Brightlane?
                    type: alert
                    color: cyan
                  action:
                    title: Send
                    type: webhook
                    url: https://example.com/hooks/approvals/send
                    method: POST
                    body:
                      approval_id: appr_123
                  secondary_action:
                    title: Deny
                    type: webhook
                    url: https://example.com/hooks/approvals/deny
                    method: POST
                    body:
                      approval_id: appr_123
              tagged:
                summary: Organize notification history with tags
                value:
                  content_state:
                    title: Search Reindex
                    subtitle: catalog-v2
                    type: progress
                    percentage: 42
                  tags:
                  - user:382
                  - search-reindex
            schema:
              $ref: '#/components/schemas/LiveActivityStreamRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                started:
                  value:
                    success: true
                    operation: started
                    stream_key: prod-web-1
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    devices_notified: 2
                    timestamp: 2025-08-12T12:00:00.000Z
                noop:
                  value:
                    success: true
                    operation: noop
                    stream_key: prod-web-1
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    timestamp: 2025-08-12T12:05:00.000Z
                paused:
                  value:
                    success: true
                    operation: paused
                    stream_key: prod-web-1
                    activity_id: null
                    timestamp: 2025-08-12T12:10:00.000Z
                tagged:
                  value:
                    success: true
                    operation: started
                    stream_key: search-reindex
                    activity_id: h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034
                    devices_notified: 2
                    tags:
                    - user:382
                    - search-reindex
                    timestamp: 2025-08-12T12:00:00.000Z
              schema:
                $ref: '#/components/schemas/LiveActivityStreamPutResponse'
          description: Stream reconciled
        "400":
          content:
            application/json:
              examples:
                invalid_stream_key:
                  value:
                    error: Invalid stream_key
                    message: "stream_key must contain only letters, numbers, underscores,\
                      \ and hyphens"
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: channels must contain at least one channel
                invalid_tags:
                  value:
                    error: Invalid tags
                    code: invalid_tags
                    message: tags must contain at most 20 unique values
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: "Bad request (invalid stream_key, payload, action, or channel\
            \ targeting input)"
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No Live Activity devices matched the effective channel
                      target
                    effective_channel_slugs:
                    - ops
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
                concurrent_live_activity_limit_reached:
                  value:
                    error: Live Activity limit reached
                    message: iOS supports up to 5 concurrent Live Activities per app
                      on a device. End an active Live Activity before starting another.
                    limit: 5
                    active: 5
              schema:
                $ref: '#/components/schemas/sendPushNotification_429_response'
          description: Rate limit exceeded
      summary: Start a new Live Activity or update an existing one
      tags:
      - LiveActivities
      x-activitysmith-lifecycle: recommended_managed
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          await activitysmith.liveActivities.stream("search-reindex", {
            content_state: {
              title: "Search Reindex",
              subtitle: "catalog-v2",
              type: "progress",
              percentage: 42,
            },
          });
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          activitysmith.live_activities.stream(
              "search-reindex",
              {
                  "content_state": {
                      "title": "Search Reindex",
                      "subtitle": "catalog-v2",
                      "type": "progress",
                      "percentage": 42,
                  },
              },
          )
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n)\n\nfunc main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t_, err = activitysmith.LiveActivities.Stream(\"\
          search-reindex\", activitysmithsdk.LiveActivityStreamInput{\n\t\tTitle:\
          \      \"Search Reindex\",\n\t\tSubtitle:   \"catalog-v2\",\n\t\tType: \
          \      \"progress\",\n\t\tPercentage: 42,\n\t})\n\tif err != nil {\n\t\t\
          log.Fatal(err)\n\t}\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $activitysmith->liveActivities->stream('search-reindex', [
              'content_state' => [
                  'title' => 'Search Reindex',
                  'subtitle' => 'catalog-v2',
                  'type' => 'progress',
                  'percentage' => 42,
              ],
          ]);
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          activitysmith.live_activities.stream(
            "search-reindex",
            content_state: {
              title: "Search Reindex",
              subtitle: "catalog-v2",
              type: "progress",
              percentage: 42
            }
          )
      - lang: bash
        label: cURL
        source: |-
          curl -X PUT "https://activitysmith.com/api/live-activity/stream/search-reindex" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "content_state": {
                "title": "Search Reindex",
                "subtitle": "catalog-v2",
                "type": "progress",
                "percentage": 42
              }
            }'
  /live-activity/start:
    post:
      description: "Legacy manual lifecycle endpoint. For new integrations, use PUT\
        \ /live-activity/stream/{stream_key} so ActivitySmith can manage start, update,\
        \ rotation, and end state for you. This endpoint remains supported for existing\
        \ integrations and advanced lifecycle control. Starts a Live Activity on devices\
        \ matched by API key scope and optional target channels. Supports segmented_progress,\
        \ progress, metrics, stats, alert, and timer activity types. For segmented_progress\
        \ activities, number_of_steps can be changed later during update or end calls\
        \ if the workflow changes. Use secondary_action for a second button on alert,\
        \ progress, and segmented_progress Live Activities. Optional tags to organize\
        \ and filter notification history."
      operationId: startLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              segmented_progress:
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
              progress:
                value:
                  content_state:
                    title: EV Charging
                    subtitle: Added 30 mi range
                    percentage: 15
                    type: progress
                    color: lime
              metrics:
                value:
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 21
                      unit: '%'
                    - label: MEM
                      value: 64
                      unit: '%'
              open_url_action:
                value:
                  content_state:
                    title: Deploying payments-api
                    subtitle: Running database migrations
                    number_of_steps: 5
                    current_step: 3
                    type: segmented_progress
                  action:
                    title: Open Workflow
                    type: open_url
                    url: https://github.com/acme/payments-api/actions/runs/1234567890
              segmented_progress_channel_targeted:
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
                  target:
                    channels:
                    - devs
                    - ops
              timer:
                value:
                  content_state:
                    title: Benchmark Run
                    subtitle: sampling
                    type: timer
                    duration_seconds: 300
                    color: cyan
              approval_secondary_actions:
                value:
                  content_state:
                    title: Approval Needed
                    message: Should I send the follow-up email to Brightlane?
                    type: alert
                    color: cyan
                  action:
                    title: Send
                    type: webhook
                    url: https://example.com/hooks/approvals/send
                    method: POST
                    body:
                      approval_id: appr_123
                  secondary_action:
                    title: Deny
                    type: webhook
                    url: https://example.com/hooks/approvals/deny
                    method: POST
                    body:
                      approval_id: appr_123
              tagged:
                summary: Organize notification history with tags
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
                  tags:
                  - user:382
                  - database-backup
            schema:
              $ref: '#/components/schemas/LiveActivityStartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                segmented_progress:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    timestamp: 2026-01-28T09:57:22.929Z
                segmented_progress_channel_targeted:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs:
                    - devs
                    - ops
                    timestamp: 2026-01-28T09:57:22.929Z
                tagged:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    tags:
                    - user:382
                    - database-backup
                    timestamp: 2026-01-28T09:57:22.929Z
              schema:
                $ref: '#/components/schemas/LiveActivityStartResponse'
          description: Live Activity started
        "400":
          content:
            application/json:
              examples:
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: target.channels must be an array of channel slugs
                invalid_tags:
                  value:
                    error: Invalid tags
                    code: invalid_tags
                    message: "tags must use 1-64 lowercase letters, numbers, dashes,\
                      \ underscores, periods, or colons"
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid payload or channel targeting input)
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No Live Activity devices matched the effective channel
                      target
                    effective_channel_slugs:
                    - marketing
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
                concurrent_live_activity_limit_reached:
                  value:
                    error: Live Activity limit reached
                    message: iOS supports up to 5 concurrent Live Activities per app
                      on a device. End an active Live Activity before starting another.
                    limit: 5
                    active: 5
              schema:
                $ref: '#/components/schemas/sendPushNotification_429_response'
          description: Rate limit exceeded
      summary: Start a Live Activity (legacy manual lifecycle)
      tags:
      - LiveActivities
      x-activitysmith-lifecycle: legacy_manual
      x-activitysmith-recommended-alternative: "PUT /live-activity/stream/{stream_key}"
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          const start = await activitysmith.liveActivities.start({
            content_state: {
              title: "Nightly database backup",
              subtitle: "create snapshot",
              number_of_steps: 3,
              current_step: 1,
              type: "segmented_progress",
              color: "yellow",
            },
          });

          const activityId = start.activity_id;
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          start = activitysmith.live_activities.start({
              "content_state": {
                  "title": "Nightly database backup",
                  "subtitle": "create snapshot",
                  "number_of_steps": 3,
                  "current_step": 1,
                  "type": "segmented_progress",
                  "color": "yellow",
              },
          })

          activity_id = start.activity_id
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n)\n\nfunc main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tstart, err := activitysmith.LiveActivities.Start(activitysmithsdk.LiveActivityStartInput{\n\
          \t\tTitle:         \"Nightly database backup\",\n\t\tSubtitle:      \"create\
          \ snapshot\",\n\t\tNumberOfSteps: 3,\n\t\tCurrentStep:   1,\n\t\tType: \
          \         \"segmented_progress\",\n\t\tColor:         \"yellow\",\n\t})\n\
          \tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tactivityID := start.GetActivityId()\n\
          \t_ = activityID\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $start = $activitysmith->liveActivities->start([
              'content_state' => [
                  'title' => 'Nightly database backup',
                  'subtitle' => 'create snapshot',
                  'number_of_steps' => 3,
                  'current_step' => 1,
                  'type' => 'segmented_progress',
                  'color' => 'yellow',
              ],
          ]);

          $activityId = $start->getActivityId();
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          start = activitysmith.live_activities.start(
            content_state: {
              title: "Nightly database backup",
              subtitle: "create snapshot",
              number_of_steps: 3,
              current_step: 1,
              type: "segmented_progress",
              color: "yellow"
            }
          )

          activity_id = start.activity_id
      - lang: bash
        label: cURL
        source: |-
          curl -X POST "https://activitysmith.com/api/live-activity/start" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "content_state": {
                "title": "Nightly database backup",
                "subtitle": "create snapshot",
                "number_of_steps": 3,
                "current_step": 1,
                "type": "segmented_progress",
                "color": "yellow"
              }
            }'
  /live-activity/update:
    post:
      description: "Legacy manual lifecycle endpoint. For new integrations, use PUT\
        \ /live-activity/stream/{stream_key} so ActivitySmith can manage start, update,\
        \ rotation, and end state for you. This endpoint remains supported for existing\
        \ integrations and advanced lifecycle control. Updates an existing Live Activity.\
        \ If the per-activity token is not registered yet, the update is queued. Supports\
        \ segmented_progress, progress, metrics, stats, alert, and timer activity\
        \ types. For segmented_progress activities, you can increase or decrease number_of_steps\
        \ here as the workflow changes. For timer activities, send duration_seconds\
        \ only when you want to reset the timer window; omit it to keep the current\
        \ timer running. Use secondary_action for a second button on alert, progress,\
        \ and segmented_progress Live Activities."
      operationId: updateLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              segmented_progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Nightly database backup
                    subtitle: upload archive
                    number_of_steps: 3
                    current_step: 2
              progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: EV Charging
                    subtitle: Added 120 mi range
                    percentage: 60
              metrics:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 25
                      unit: '%'
                    - label: MEM
                      value: 67
                      unit: '%'
              webhook_action:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Reindexing product search
                    subtitle: Shard 7 of 12
                    number_of_steps: 12
                    current_step: 7
                  action:
                    title: Pause Reindex
                    type: webhook
                    url: https://ops.example.com/hooks/search/reindex/pause
                    method: POST
                    body:
                      job_id: reindex-2026-03-19
                      requested_by: activitysmith_live_activity
                      reason: paused_from_ios_live_activity
              timer_preserve_window:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Benchmark Run
                    subtitle: checking p95 latency
                    type: timer
              timer_reset_window:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Benchmark Run
                    subtitle: retrying sample
                    type: timer
                    duration_seconds: 180
            schema:
              $ref: '#/components/schemas/LiveActivityUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                sent:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    devices_queued: 0
                    timestamp: 2026-01-28T09:57:26.056Z
              schema:
                $ref: '#/components/schemas/LiveActivityUpdateResponse'
          description: Live Activity updated (or queued)
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Forbidden
                    message: This API key cannot update this Live Activity
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (activity not owned by this API key account)
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Update a Live Activity (legacy manual lifecycle)
      tags:
      - LiveActivities
      x-activitysmith-lifecycle: legacy_manual
      x-activitysmith-recommended-alternative: "PUT /live-activity/stream/{stream_key}"
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          await activitysmith.liveActivities.update({
            activity_id: "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
            content_state: {
              title: "Nightly database backup",
              subtitle: "upload archive",
              number_of_steps: 3,
              current_step: 2,
            },
          });
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          activitysmith.live_activities.update({
              "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
              "content_state": {
                  "title": "Nightly database backup",
                  "subtitle": "upload archive",
                  "number_of_steps": 3,
                  "current_step": 2,
              },
          })
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n)\n\nfunc main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t_, err = activitysmith.LiveActivities.Update(activitysmithsdk.LiveActivityUpdateInput{\n\
          \t\tActivityID:    \"pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW\",\n\t\tTitle:   \
          \      \"Nightly database backup\",\n\t\tSubtitle:      \"upload archive\"\
          ,\n\t\tNumberOfSteps: 3,\n\t\tCurrentStep:   2,\n\t})\n\tif err != nil {\n\
          \t\tlog.Fatal(err)\n\t}\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $activitysmith->liveActivities->update([
              'activity_id' => 'pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW',
              'content_state' => [
                  'title' => 'Nightly database backup',
                  'subtitle' => 'upload archive',
                  'number_of_steps' => 3,
                  'current_step' => 2,
              ],
          ]);
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          activitysmith.live_activities.update(
            activity_id: "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
            content_state: {
              title: "Nightly database backup",
              subtitle: "upload archive",
              number_of_steps: 3,
              current_step: 2
            }
          )
      - lang: bash
        label: cURL
        source: |-
          curl -X POST "https://activitysmith.com/api/live-activity/update" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
              "content_state": {
                "title": "Nightly database backup",
                "subtitle": "upload archive",
                "number_of_steps": 3,
                "current_step": 2
              }
            }'
  /live-activity/end:
    post:
      description: "Legacy manual lifecycle endpoint. For new integrations, use DELETE\
        \ /live-activity/stream/{stream_key} to end a managed Live Activity stream.\
        \ This endpoint remains supported for existing integrations and advanced lifecycle\
        \ control. Ends a Live Activity and archives its lifecycle. Supports segmented_progress,\
        \ progress, metrics, stats, alert, and timer activity types. For segmented_progress\
        \ activities, you can send the latest number_of_steps here if the workflow\
        \ changed after start. Use secondary_action for a second button on alert,\
        \ progress, and segmented_progress Live Activities."
      operationId: endLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              segmented_progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Nightly database backup
                    subtitle: verify restore
                    number_of_steps: 3
                    current_step: 3
                    auto_dismiss_minutes: 2
              progress:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: EV Charging
                    subtitle: Added 200 mi range
                    percentage: 100
                    auto_dismiss_minutes: 2
              metrics:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Server Health
                    subtitle: prod-web-1
                    type: metrics
                    metrics:
                    - label: CPU
                      value: 0
                      unit: '%'
                    - label: MEM
                      value: 0
                      unit: '%'
                    auto_dismiss_minutes: 2
              open_url_action:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Deploying payments-api
                    subtitle: Production rollout complete
                    number_of_steps: 5
                    current_step: 5
                    auto_dismiss_minutes: 10
                  action:
                    title: Open Workflow
                    type: open_url
                    url: https://github.com/acme/payments-api/actions/runs/1234567890
              timer:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Benchmark Run
                    subtitle: complete
                    type: timer
                    auto_dismiss_minutes: 2
            schema:
              $ref: '#/components/schemas/LiveActivityEndRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                segmented_progress:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    devices_queued: 0
                    timestamp: 2026-01-28T09:57:29.258Z
              schema:
                $ref: '#/components/schemas/LiveActivityEndResponse'
          description: Live Activity ended
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Forbidden
                    message: This API key cannot end this Live Activity
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (activity not owned by this API key account)
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: End a Live Activity (legacy manual lifecycle)
      tags:
      - LiveActivities
      x-activitysmith-lifecycle: legacy_manual
      x-activitysmith-recommended-alternative: "DELETE /live-activity/stream/{stream_key}"
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          await activitysmith.liveActivities.end({
            activity_id: "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
            content_state: {
              title: "Nightly database backup",
              subtitle: "verify restore",
              number_of_steps: 3,
              current_step: 3,
              auto_dismiss_minutes: 2,
            },
          });
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          activitysmith.live_activities.end({
              "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
              "content_state": {
                  "title": "Nightly database backup",
                  "subtitle": "verify restore",
                  "number_of_steps": 3,
                  "current_step": 3,
                  "auto_dismiss_minutes": 2,
              },
          })
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n)\n\nfunc main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t_, err = activitysmith.LiveActivities.End(activitysmithsdk.LiveActivityEndInput{\n\
          \t\tActivityID:         \"pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW\",\n\t\tTitle:\
          \              \"Nightly database backup\",\n\t\tSubtitle:           \"\
          verify restore\",\n\t\tNumberOfSteps:      3,\n\t\tCurrentStep:        3,\n\
          \t\tAutoDismissMinutes: 2,\n\t})\n\tif err != nil {\n\t\tlog.Fatal(err)\n\
          \t}\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $activitysmith->liveActivities->end([
              'activity_id' => 'pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW',
              'content_state' => [
                  'title' => 'Nightly database backup',
                  'subtitle' => 'verify restore',
                  'number_of_steps' => 3,
                  'current_step' => 3,
                  'auto_dismiss_minutes' => 2,
              ],
          ]);
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          activitysmith.live_activities.end(
            activity_id: "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
            content_state: {
              title: "Nightly database backup",
              subtitle: "verify restore",
              number_of_steps: 3,
              current_step: 3,
              auto_dismiss_minutes: 2
            }
          )
      - lang: bash
        label: cURL
        source: |-
          curl -X POST "https://activitysmith.com/api/live-activity/end" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
              "content_state": {
                "title": "Nightly database backup",
                "subtitle": "verify restore",
                "number_of_steps": 3,
                "current_step": 3,
                "auto_dismiss_minutes": 2
              }
            }'
  /metrics/{key}/value:
    post:
      description: "Updates the latest value for a metric displayed in ActivitySmith\
        \ widgets. Create the metric in the web app first, then update its value using\
        \ the key."
      operationId: updateMetricValue
      parameters:
      - description: "Metric key configured in the web app. Lowercase letters, numbers,\
          \ dots, underscores, and dashes are allowed."
        explode: false
        in: path
        name: key
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-z0-9][a-z0-9_.-]{0,63}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              value: 42
            schema:
              $ref: '#/components/schemas/MetricValueUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
              schema:
                $ref: '#/components/schemas/MetricValueUpdateResponse'
          description: Metric value updated
        "400":
          content:
            application/json:
              examples:
                invalid_value:
                  value:
                    error: value must be a finite number
              schema:
                $ref: '#/components/schemas/MetricError'
          description: Bad request (invalid key or value)
        "404":
          content:
            application/json:
              examples:
                not_found:
                  value:
                    error: Metric not found
              schema:
                $ref: '#/components/schemas/MetricError'
          description: Metric not found
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Update a widget metric value
      tags:
      - Metrics
      x-codeSamples:
      - lang: javascript
        label: Node
        source: |-
          import ActivitySmith from "activitysmith";

          const activitysmith = new ActivitySmith({
            apiKey: process.env.ACTIVITYSMITH_API_KEY,
          });

          await activitysmith.metrics.update("deploy.success_rate", 99.9);
      - lang: python
        label: Python
        source: |-
          import os
          from activitysmith import ActivitySmith

          activitysmith = ActivitySmith(api_key=os.environ["ACTIVITYSMITH_API_KEY"])

          activitysmith.metrics.update("deploy.success_rate", 99.9)
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"log\"\n\n\tactivitysmithsdk \"github.com/ActivitySmithHQ/activitysmith-go\"\
          \n)\n\nfunc main() {\n\tactivitysmith, err := activitysmithsdk.New(\"YOUR-API-KEY\"\
          )\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t_, err = activitysmith.Metrics.Update(\"\
          deploy.success_rate\", 99.9)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t\
          }\n}"
      - lang: php
        label: PHP
        source: |-
          <?php

          use ActivitySmith\ActivitySmith;

          $activitysmith = new ActivitySmith($_ENV['ACTIVITYSMITH_API_KEY']);

          $activitysmith->metrics->update('deploy.success_rate', 99.9);
      - lang: ruby
        label: Ruby
        source: |-
          require "activitysmith"

          activitysmith = ActivitySmith::Client.new(api_key: ENV.fetch("ACTIVITYSMITH_API_KEY"))

          activitysmith.metrics.update("deploy.success_rate", 99.9)
      - lang: bash
        label: cURL
        source: |-
          curl -X POST "https://activitysmith.com/api/metrics/deploy.success_rate/value" \
            -H "Authorization: Bearer $ACTIVITYSMITH_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{ "value": 99.9 }'
components:
  schemas:
    HealthCheck:
      example:
        duration_ms: 0
        name: database
        status: ok
      properties:
        name:
          enum:
          - database
          - redis
          type: string
        status:
          enum:
          - ok
          - failed
          type: string
        duration_ms:
          minimum: 0
          type: integer
      required:
      - duration_ms
      - name
      - status
    HealthResponse:
      example:
        checks:
        - duration_ms: 0
          name: database
          status: ok
        - duration_ms: 0
          name: database
          status: ok
        service: service
        ok: true
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        ok:
          type: boolean
        service:
          type: string
        timestamp:
          format: date-time
          type: string
        checks:
          items:
            $ref: '#/components/schemas/HealthCheck'
          type: array
      required:
      - checks
      - ok
      - service
      - timestamp
    ChangelogItem:
      example:
        accent_color: accent_color
        image_url: https://openapi-generator.tech
        icon: icon
        title: title
        body: body
      properties:
        icon:
          nullable: true
          type: string
        title:
          type: string
        body:
          type: string
        image_url:
          format: uri
          nullable: true
          type: string
        accent_color:
          nullable: true
          type: string
      required:
      - body
      - title
    ChangelogEntry:
      example:
        cta_title: cta_title
        subtitle: subtitle
        hero_image_url: https://openapi-generator.tech
        id: id
        title: title
        published_at: 2000-01-23T04:56:07.000+00:00
        version: version
        items:
        - accent_color: accent_color
          image_url: https://openapi-generator.tech
          icon: icon
          title: title
          body: body
        - accent_color: accent_color
          image_url: https://openapi-generator.tech
          icon: icon
          title: title
          body: body
        platform: platform
      properties:
        id:
          type: string
        platform:
          type: string
        version:
          type: string
        title:
          type: string
        subtitle:
          nullable: true
          type: string
        hero_image_url:
          format: uri
          nullable: true
          type: string
        cta_title:
          type: string
        published_at:
          format: date-time
          nullable: true
          type: string
        items:
          items:
            $ref: '#/components/schemas/ChangelogItem'
          type: array
      required:
      - cta_title
      - hero_image_url
      - id
      - items
      - platform
      - published_at
      - subtitle
      - title
      - version
    ChangelogListResponse:
      example:
        changelogs:
        - cta_title: cta_title
          subtitle: subtitle
          hero_image_url: https://openapi-generator.tech
          id: id
          title: title
          published_at: 2000-01-23T04:56:07.000+00:00
          version: version
          items:
          - accent_color: accent_color
            image_url: https://openapi-generator.tech
            icon: icon
            title: title
            body: body
          - accent_color: accent_color
            image_url: https://openapi-generator.tech
            icon: icon
            title: title
            body: body
          platform: platform
        - cta_title: cta_title
          subtitle: subtitle
          hero_image_url: https://openapi-generator.tech
          id: id
          title: title
          published_at: 2000-01-23T04:56:07.000+00:00
          version: version
          items:
          - accent_color: accent_color
            image_url: https://openapi-generator.tech
            icon: icon
            title: title
            body: body
          - accent_color: accent_color
            image_url: https://openapi-generator.tech
            icon: icon
            title: title
            body: body
          platform: platform
      properties:
        changelogs:
          items:
            $ref: '#/components/schemas/ChangelogEntry'
          type: array
      required:
      - changelogs
    ContentStateStart:
      additionalProperties: false
      description: "Start payload requires title and type. For segmented_progress\
        \ include number_of_steps and current_step. For progress include percentage\
        \ or value with upper_limit. For metrics and stats include a non-empty metrics\
        \ array. For alert include message. For timer include duration_seconds for\
        \ countdowns, or set counts_down false without duration_seconds for an open-ended\
        \ elapsed timer. Optional icon is supported by all Live Activity types. Optional\
        \ badge is supported by alert, progress, and segmented_progress. For segmented_progress,\
        \ number_of_steps is not locked and can be changed in later update or end\
        \ calls."
      example:
        duration_seconds: 2.3021358869347655
        color: lime
        step_color: lime
        icon:
          symbol: symbol
          color: lime
        upper_limit: 5.637376656633329
        title: title
        message: message
        type: segmented_progress
        is_running: true
        badge:
          color: null
          title: title
        counts_down: true
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        metrics:
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        number_of_steps: 1
        value: 5.962133916683182
        current_step: 0
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: Total number of steps. Use for type=segmented_progress. This
            value can be increased or decreased later when updating or ending the
            same activity.
          minimum: 1
          type: integer
        current_step:
          description: Current completed step count. Use for type=segmented_progress.
            Set 0 when the activity has started but no segment is complete yet. Must
            be less than or equal to number_of_steps.
          minimum: 0
          type: integer
        percentage:
          description: Progress percentage (0–100). Use for type=progress. Takes precedence
            over value/upper_limit if both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for type=progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for type=progress.
          type: number
        duration_seconds:
          description: "Timer duration in seconds. For type=timer countdowns, required\
            \ on start when counts_down is true or omitted."
          type: number
        counts_down:
          default: true
          description: "Use with type=timer. When true or omitted, the timer counts\
            \ down from duration_seconds. Set false for an elapsed timer; omit duration_seconds\
            \ for an open-ended elapsed timer."
          type: boolean
        is_running:
          default: true
          description: Use with type=timer. Defaults to true. Set false to pause/freeze
            via API; set true on a paused timer to resume.
          type: boolean
        metrics:
          description: Use for type=metrics or type=stats.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          maxItems: 8
          minItems: 1
          type: array
        message:
          description: Required for type=alert.
          minLength: 1
          type: string
        icon:
          $ref: '#/components/schemas/LiveActivityAlertIcon'
        badge:
          $ref: '#/components/schemas/LiveActivityAlertBadge'
        type:
          enum:
          - segmented_progress
          - progress
          - metrics
          - stats
          - alert
          - timer
          type: string
        color:
          description: "Optional. Accent color for progress, segmented_progress, metrics,\
            \ and timer Live Activities. For Alert Live Activities, this tints action\
            \ and secondary_action buttons when included."
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to type=segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            - gray
            type: string
          type: array
      required:
      - title
      - type
    ContentStateUpdate:
      additionalProperties: false
      description: "Update payload requires title. For segmented_progress include\
        \ current_step and optionally number_of_steps. For progress include percentage\
        \ or value with upper_limit. For metrics and stats include a non-empty metrics\
        \ array. For alert include message. For timer, omit duration_seconds to preserve\
        \ the current timer window or send duration_seconds to reset the timer from\
        \ the update request time. Optional icon is supported by all Live Activity\
        \ types. Optional badge is supported by alert, progress, and segmented_progress.\
        \ Type is optional when updating an existing activity. You can increase or\
        \ decrease number_of_steps during updates."
      example:
        duration_seconds: 2.3021358869347655
        color: lime
        step_color: lime
        icon:
          symbol: symbol
          color: lime
        upper_limit: 5.637376656633329
        title: title
        message: message
        type: segmented_progress
        is_running: true
        badge:
          color: null
          title: title
        counts_down: true
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        metrics:
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        number_of_steps: 1
        value: 5.962133916683182
        current_step: 0
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: "Total number of steps. Use for type=segmented_progress. Optional\
            \ on update, and safe to change if the workflow gains or loses steps."
          minimum: 1
          type: integer
        current_step:
          description: Current completed step count. Use for type=segmented_progress.
            Set 0 when no segment is complete yet. Must be less than or equal to number_of_steps
            when number_of_steps is provided.
          minimum: 0
          type: integer
        percentage:
          description: Progress percentage (0–100). Use for type=progress. Takes precedence
            over value/upper_limit if both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for type=progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for type=progress.
          type: number
        duration_seconds:
          description: "Timer duration in seconds. For type=timer, sending duration_seconds\
            \ resets the timer window from the update request time; omit it to preserve\
            \ the existing timer window."
          type: number
        counts_down:
          default: true
          description: "Use with type=timer. When true or omitted, the timer counts\
            \ down from duration_seconds. Set false for an elapsed timer; omit duration_seconds\
            \ for an open-ended elapsed timer."
          type: boolean
        is_running:
          default: true
          description: Use with type=timer. Defaults to true. Set false to pause/freeze
            via API; set true on a paused timer to resume.
          type: boolean
        metrics:
          description: Use for type=metrics or type=stats.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          maxItems: 8
          minItems: 1
          type: array
        message:
          description: Alert message. Use for type=alert.
          minLength: 1
          type: string
        icon:
          $ref: '#/components/schemas/LiveActivityAlertIcon'
        badge:
          $ref: '#/components/schemas/LiveActivityAlertBadge'
        type:
          description: "Optional. When omitted, the API uses the existing Live Activity\
            \ type."
          enum:
          - segmented_progress
          - progress
          - metrics
          - stats
          - alert
          - timer
          type: string
        color:
          description: "Optional. Accent color for progress, segmented_progress, metrics,\
            \ and timer Live Activities. For Alert Live Activities, this tints action\
            \ and secondary_action buttons when included."
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to type=segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            - gray
            type: string
          type: array
      required:
      - title
    ContentStateEnd:
      additionalProperties: false
      description: "End payload requires title. For segmented_progress include current_step\
        \ and optionally number_of_steps. For progress include percentage or value\
        \ with upper_limit. For metrics and stats include a non-empty metrics array.\
        \ For alert include message. For timer, omit duration_seconds to preserve\
        \ and freeze the latest timer state. Optional icon is supported by all Live\
        \ Activity types. Optional badge is supported by alert, progress, and segmented_progress.\
        \ Type is optional when ending an existing activity. You can send an updated\
        \ number_of_steps here if the workflow changed after start."
      example:
        duration_seconds: 2.3021358869347655
        color: lime
        step_color: lime
        icon:
          symbol: symbol
          color: lime
        auto_dismiss_minutes: 0
        upper_limit: 5.637376656633329
        title: title
        message: message
        type: segmented_progress
        is_running: true
        badge:
          color: null
          title: title
        counts_down: true
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        metrics:
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        number_of_steps: 1
        value: 5.962133916683182
        current_step: 0
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: "Total number of steps. Use for type=segmented_progress. Optional\
            \ on end, and safe to change if the final workflow used more or fewer\
            \ steps than originally planned."
          minimum: 1
          type: integer
        current_step:
          description: Current completed step count. Use for type=segmented_progress.
            Must be less than or equal to number_of_steps when number_of_steps is
            provided.
          minimum: 0
          type: integer
        percentage:
          description: Progress percentage (0–100). Use for type=progress. Takes precedence
            over value/upper_limit if both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for type=progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for type=progress.
          type: number
        duration_seconds:
          description: "Timer duration in seconds. For type=timer, omit duration_seconds\
            \ on end to preserve and freeze the latest timer state."
          type: number
        counts_down:
          default: true
          description: "Use with type=timer. When true or omitted, the timer counts\
            \ down from duration_seconds. Set false for an elapsed timer; omit duration_seconds\
            \ for an open-ended elapsed timer."
          type: boolean
        is_running:
          default: true
          description: Use with type=timer. Defaults to true. Set false to pause/freeze
            via API; set true on a paused timer to resume.
          type: boolean
        metrics:
          description: Use for type=metrics or type=stats.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          maxItems: 8
          minItems: 1
          type: array
        message:
          description: Alert message. Use for type=alert.
          minLength: 1
          type: string
        icon:
          $ref: '#/components/schemas/LiveActivityAlertIcon'
        badge:
          $ref: '#/components/schemas/LiveActivityAlertBadge'
        type:
          description: "Optional. When omitted, the API uses the existing Live Activity\
            \ type."
          enum:
          - segmented_progress
          - progress
          - metrics
          - stats
          - alert
          - timer
          type: string
        color:
          description: "Optional. Accent color for progress, segmented_progress, metrics,\
            \ and timer Live Activities. For Alert Live Activities, this tints action\
            \ and secondary_action buttons when included."
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to type=segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            - gray
            type: string
          type: array
        auto_dismiss_minutes:
          default: 3
          description: Optional. Minutes before the ended Live Activity is dismissed.
            Default 3. Set 0 for immediate dismissal. iOS will dismiss ended Live
            Activities after ~4 hours max.
          minimum: 0
          type: integer
      required:
      - title
    StreamContentState:
      additionalProperties: false
      description: "Current state for a managed Live Activity stream. Include type\
        \ on the first PUT, and whenever the stream may need to start a fresh activity.\
        \ Supports segmented_progress, progress, metrics, stats, alert, and timer\
        \ types. For timer, send duration_seconds to start or reset a bounded timer;\
        \ omit duration_seconds on later updates to preserve the existing timer window."
      example:
        duration_seconds: 2.3021358869347655
        color: lime
        step_color: lime
        icon:
          symbol: symbol
          color: lime
        auto_dismiss_minutes: 0
        upper_limit: 5.637376656633329
        title: title
        type: segmented_progress
        message: message
        is_running: true
        badge:
          color: null
          title: title
        counts_down: true
        step_colors:
        - lime
        - lime
        subtitle: subtitle
        percentage: 14.658129805029452
        metrics:
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        - unit: unit
          color: lime
          label: label
          value: 0.7061401241503109
        number_of_steps: 1
        auto_dismiss_seconds: 0
        value: 5.962133916683182
        current_step: 0
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          description: Use for segmented_progress.
          minimum: 1
          type: integer
        current_step:
          description: Use for segmented_progress. Set 0 when no segment is complete
            yet. Must be less than or equal to number_of_steps when number_of_steps
            is provided.
          minimum: 0
          type: integer
        percentage:
          description: Use for progress. Takes precedence over value/upper_limit if
            both are provided.
          maximum: 100
          minimum: 0
          type: number
        value:
          description: Current progress value. Use with upper_limit for progress.
          type: number
        upper_limit:
          description: Maximum progress value. Use with value for progress.
          type: number
        duration_seconds:
          description: "Timer duration in seconds. For type=timer, send duration_seconds\
            \ to start or reset the timer window; omit it on later stream updates\
            \ to preserve the existing timer window."
          type: number
        counts_down:
          default: true
          description: "Use with type=timer. When true or omitted, the timer counts\
            \ down from duration_seconds. Set false for an elapsed timer; omit duration_seconds\
            \ for an open-ended elapsed timer."
          type: boolean
        is_running:
          default: true
          description: Use with type=timer. Defaults to true. Set false to pause/freeze
            via API; set true on a paused timer to resume.
          type: boolean
        type:
          description: Required on the first PUT or whenever the stream cannot infer
            the current activity type.
          enum:
          - segmented_progress
          - progress
          - metrics
          - stats
          - alert
          - timer
          type: string
        color:
          description: "Optional. Accent color for progress, segmented_progress, metrics,\
            \ and timer Live Activities. For Alert Live Activities, this tints action\
            \ and secondary_action buttons when included."
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_color:
          description: Optional. Overrides color for the current step. Only applies
            to segmented_progress.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
        step_colors:
          description: "Optional. Colors for completed steps. When used with segmented_progress,\
            \ the array length should match current_step."
          items:
            enum:
            - lime
            - green
            - cyan
            - blue
            - purple
            - magenta
            - red
            - orange
            - yellow
            - gray
            type: string
          type: array
        metrics:
          description: Use for metrics and stats activities.
          items:
            $ref: '#/components/schemas/ActivityMetric'
          maxItems: 8
          minItems: 1
          type: array
        message:
          description: Required for type=alert.
          minLength: 1
          type: string
        icon:
          $ref: '#/components/schemas/LiveActivityAlertIcon'
        badge:
          $ref: '#/components/schemas/LiveActivityAlertBadge'
        auto_dismiss_seconds:
          description: Optional. Seconds before the ended Live Activity is dismissed.
          minimum: 0
          type: integer
        auto_dismiss_minutes:
          description: Optional. Minutes before the ended Live Activity is dismissed.
          minimum: 0
          type: integer
      required:
      - title
    ActivityMetric:
      additionalProperties: false
      example:
        unit: unit
        color: lime
        label: label
        value: 0.7061401241503109
      properties:
        label:
          minLength: 1
          type: string
        value:
          $ref: '#/components/schemas/ActivityMetric_value'
        unit:
          type: string
        color:
          description: Optional per-metric accent color for metrics and stats activities.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          - gray
          type: string
      required:
      - label
      - value
    LiveActivityColor:
      enum:
      - lime
      - green
      - cyan
      - blue
      - purple
      - magenta
      - red
      - orange
      - yellow
      - gray
      type: string
    LiveActivityAlertIcon:
      additionalProperties: false
      description: Optional SF Symbol icon for Live Activities.
      example:
        symbol: symbol
        color: lime
      properties:
        symbol:
          description: Apple SF Symbol name.
          minLength: 1
          type: string
        color:
          $ref: '#/components/schemas/LiveActivityColor'
      required:
      - symbol
    LiveActivityAlertBadge:
      additionalProperties: false
      description: Optional badge for Live Activities.
      example:
        color: null
        title: title
      properties:
        title:
          minLength: 1
          type: string
        color:
          $ref: '#/components/schemas/LiveActivityColor'
      required:
      - title
    AlertPayload:
      additionalProperties: false
      example:
        title: title
        body: body
      properties:
        title:
          type: string
        body:
          type: string
    ChannelTarget:
      additionalProperties: false
      example:
        channels:
        - channels
        - channels
      properties:
        channels:
          description: "Channel slugs. When omitted, API key scope determines recipients."
          items:
            type: string
          minItems: 1
          type: array
      required:
      - channels
    PushNotificationActionType:
      enum:
      - open_url
      - webhook
      type: string
    PushNotificationWebhookMethod:
      default: POST
      enum:
      - GET
      - POST
      type: string
    PushNotificationAction:
      additionalProperties: {}
      allOf:
      - {}
      - {}
      example:
        method: POST
        title: title
        type: open_url
        body: "{}"
        url: https://openapi-generator.tech
      properties:
        title:
          description: Button title displayed in iOS expanded notification UI.
        type:
          $ref: '#/components/schemas/PushNotificationActionType'
        url:
          description: "Action URL. For open_url, use HTTP, HTTPS, Shortcuts, or an\
            \ installed app’s custom URL scheme, such as spotify:// or spotify:track:123.\
            \ Custom app schemes require iOS 1.13.4 build 2 or later; no web fallback\
            \ is provided. Internal and executable schemes are blocked. For webhook,\
            \ use an HTTPS URL called by the ActivitySmith backend."
          format: uri
        method:
          $ref: '#/components/schemas/PushNotificationWebhookMethod'
        body:
[...]
