openapi: 3.1.0
info:
  description: Send push notifications and Live Activities to your own devices via
    a single API key.
  title: ActivitySmith API
  version: 1.0.0
servers:
- url: https://activitysmith.com/api
security:
- apiKeyAuth: []
tags:
- name: PushNotifications
- name: LiveActivities
paths:
  /push-notification:
    post:
      description: Sends a push notification to devices matched by API key scope and
        optional target channels.
      operationId: sendPushNotification
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
              channel_targeted:
                value:
                  title: New subscription 💸
                  message: Customer upgraded to Pro plan
                  target:
                    channels:
                    - devs
                    - ops
            schema:
              $ref: '#/components/schemas/PushNotificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    timestamp: 2025-08-12T12:00:00.000Z
                channel_targeted:
                  value:
                    success: true
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs:
                    - devs
                    - ops
                    timestamp: 2025-08-12T12:00:00.000Z
              schema:
                $ref: '#/components/schemas/PushNotificationResponse'
          description: Push notification sent
        "400":
          content:
            application/json:
              examples:
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: target.channels must be an array of channel slugs
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid payload or channel targeting input)
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No devices matched the effective channel target
                    effective_channel_slugs:
                    - marketing
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/sendPushNotification_429_response'
          description: Rate limit exceeded
      summary: Send a push notification
      tags:
      - PushNotifications
  /live-activity/start:
    post:
      description: Starts a Live Activity on devices matched by API key scope and
        optional target channels.
      operationId: startLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
              channel_targeted:
                value:
                  content_state:
                    title: Nightly database backup
                    subtitle: create snapshot
                    number_of_steps: 3
                    current_step: 1
                    type: segmented_progress
                    color: yellow
                  target:
                    channels:
                    - devs
                    - ops
            schema:
              $ref: '#/components/schemas/LiveActivityStartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    timestamp: 2026-01-28T09:57:22.929Z
                channel_targeted:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    users_notified: 1
                    effective_channel_slugs:
                    - devs
                    - ops
                    timestamp: 2026-01-28T09:57:22.929Z
              schema:
                $ref: '#/components/schemas/LiveActivityStartResponse'
          description: Live Activity started
        "400":
          content:
            application/json:
              examples:
                invalid_target:
                  value:
                    error: Invalid channel targeting
                    message: target.channels must be an array of channel slugs
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request (invalid payload or channel targeting input)
        "403":
          content:
            application/json:
              examples:
                channel_scope_violation:
                  value:
                    error: Invalid channel targeting
                    message: This API key can only target assigned channels. Requested
                      channels include channels outside this key scope.
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (API key scope or channel assignment violation)
        "404":
          content:
            application/json:
              examples:
                no_devices:
                  value:
                    error: No recipients found
                    message: No Live Activity devices matched the effective channel
                      target
                    effective_channel_slugs:
                    - marketing
              schema:
                $ref: '#/components/schemas/NoRecipientsError'
          description: No recipients found for effective channel target
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
                concurrent_live_activity_limit_reached:
                  value:
                    error: Live Activity limit reached
                    message: Only 4 concurrent Live Activities are allowed per account
                    limit: 4
                    active: 4
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Start a Live Activity
      tags:
      - LiveActivities
  /live-activity/update:
    post:
      description: "Updates an existing Live Activity. If the per-activity token is\
        \ not registered yet, the update is queued."
      operationId: updateLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Nightly database backup
                    subtitle: upload archive
                    current_step: 2
            schema:
              $ref: '#/components/schemas/LiveActivityUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                sent:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    devices_queued: 0
                    timestamp: 2026-01-28T09:57:26.056Z
              schema:
                $ref: '#/components/schemas/LiveActivityUpdateResponse'
          description: Live Activity updated (or queued)
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Forbidden
                    message: This API key cannot update this Live Activity
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (activity not owned by this API key account)
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: Update a Live Activity
      tags:
      - LiveActivities
  /live-activity/end:
    post:
      description: Ends a Live Activity and archives its lifecycle.
      operationId: endLiveActivity
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                  content_state:
                    title: Nightly database backup
                    subtitle: verify restore
                    current_step: 3
                    auto_dismiss_minutes: 2
            schema:
              $ref: '#/components/schemas/LiveActivityEndRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  value:
                    success: true
                    activity_id: pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW
                    devices_notified: 2
                    devices_queued: 0
                    timestamp: 2026-01-28T09:57:29.258Z
              schema:
                $ref: '#/components/schemas/LiveActivityEndResponse'
          description: Live Activity ended
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Forbidden
                    message: This API key cannot end this Live Activity
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden (activity not owned by this API key account)
        "429":
          content:
            application/json:
              examples:
                rate_limited:
                  value:
                    error: Rate limit exceeded
                    message: "Too many requests, please try again later."
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate limit exceeded
      summary: End a Live Activity
      tags:
      - LiveActivities
components:
  schemas:
    ContentStateStart:
      additionalProperties: true
      description: "Start payload requires title, number_of_steps, current_step, and\
        \ type."
      example:
        color: blue
        step_color: lime
        subtitle: subtitle
        title: title
        number_of_steps: 1
        type: segmented_progress
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          minimum: 1
          type: integer
        current_step:
          minimum: 1
          type: integer
        type:
          enum:
          - segmented_progress
          type: string
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
      required:
      - current_step
      - number_of_steps
      - title
      - type
    ContentStateUpdate:
      additionalProperties: true
      description: Update payload. Required fields are title and current_step. number_of_steps
        is optional.
      example:
        color: blue
        step_color: lime
        subtitle: subtitle
        title: title
        number_of_steps: 1
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          minimum: 1
          type: integer
        current_step:
          minimum: 1
          type: integer
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
      required:
      - current_step
      - title
    ContentStateEnd:
      additionalProperties: true
      description: End payload. Required fields are title and current_step. number_of_steps
        is optional.
      example:
        color: blue
        step_color: lime
        subtitle: subtitle
        auto_dismiss_minutes: 0
        title: title
        number_of_steps: 1
        current_step: 1
      properties:
        title:
          type: string
        subtitle:
          type: string
        number_of_steps:
          minimum: 1
          type: integer
        current_step:
          minimum: 1
          type: integer
        color:
          default: blue
          description: Optional. Accent color for the Live Activity. Defaults to blue.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        step_color:
          description: Optional. Overrides color for the current step.
          enum:
          - lime
          - green
          - cyan
          - blue
          - purple
          - magenta
          - red
          - orange
          - yellow
          type: string
        auto_dismiss_minutes:
          default: 3
          description: Optional. Minutes before the ended Live Activity is dismissed.
            Default 3. Set 0 for immediate dismissal. iOS will dismiss ended Live
            Activities after ~4 hours max.
          minimum: 0
          type: integer
      required:
      - current_step
      - title
    AlertPayload:
      additionalProperties: true
      example:
        title: title
        body: body
      properties:
        title:
          type: string
        body:
          type: string
    ChannelTarget:
      additionalProperties: true
      example:
        channels:
        - channels
        - channels
      properties:
        channels:
          description: "Channel slugs. When omitted, API key scope determines recipients."
          items:
            type: string
          minItems: 1
          type: array
      required:
      - channels
    PushNotificationRequest:
      additionalProperties: {}
      example:
        badge: 0
        payload:
          key: ""
        subtitle: subtitle
        sound: sound
        title: title
        message: message
        target:
          channels:
          - channels
          - channels
      properties:
        title: {}
        message: {}
        subtitle: {}
        payload:
          additionalProperties: true
        badge: {}
        sound: {}
        target:
          $ref: '#/components/schemas/ChannelTarget'
      required:
      - title
    PushNotificationResponse:
      additionalProperties: true
      example:
        success: true
        users_notified: 6
        devices_notified: 0
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        devices_notified:
          type: integer
        users_notified:
          type: integer
        effective_channel_slugs:
          items:
            type: string
          type: array
        timestamp:
          format: date-time
          type: string
      required:
      - success
      - timestamp
    LiveActivityStartRequest:
      additionalProperties: true
      example:
        content_state:
          color: blue
          step_color: lime
          subtitle: subtitle
          title: title
          number_of_steps: 1
          type: segmented_progress
          current_step: 1
        alert:
          title: title
          body: body
        target:
          channels:
          - channels
          - channels
      properties:
        content_state:
          $ref: '#/components/schemas/ContentStateStart'
        alert:
          $ref: '#/components/schemas/AlertPayload'
        target:
          $ref: '#/components/schemas/ChannelTarget'
      required:
      - content_state
    LiveActivityStartResponse:
      additionalProperties: true
      example:
        success: true
        users_notified: 6
        activity_id: activity_id
        devices_notified: 0
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        devices_notified:
          type: integer
        users_notified:
          type: integer
        activity_id:
          type: string
        effective_channel_slugs:
          items:
            type: string
          type: array
        timestamp:
          format: date-time
          type: string
      required:
      - activity_id
      - success
      - timestamp
    BadRequestError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    ForbiddenError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    NoRecipientsError:
      additionalProperties: true
      example:
        error: error
        message: message
        effective_channel_slugs:
        - effective_channel_slugs
        - effective_channel_slugs
      properties:
        error:
          type: string
        message:
          type: string
        effective_channel_slugs:
          items:
            type: string
          type: array
      required:
      - error
      - message
    RateLimitError:
      additionalProperties: true
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
      required:
      - error
      - message
    LiveActivityLimitError:
      additionalProperties: true
      properties:
        error:
          type: string
        message:
          type: string
        limit:
          type: integer
        active:
          description: Current number of active Live Activities.
          type: integer
      required:
      - active
      - error
      - limit
      - message
    LiveActivityUpdateRequest:
      additionalProperties: true
      example:
        content_state:
          color: blue
          step_color: lime
          subtitle: subtitle
          title: title
          number_of_steps: 1
          current_step: 1
        activity_id: activity_id
      properties:
        activity_id:
          type: string
        content_state:
          $ref: '#/components/schemas/ContentStateUpdate'
      required:
      - activity_id
      - content_state
    LiveActivityUpdateResponse:
      additionalProperties: true
      example:
        devices_queued: 0
        success: true
        activity_id: activity_id
        devices_notified: 6
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        activity_id:
          type: string
        devices_queued:
          type: integer
        devices_notified:
          type: integer
        timestamp:
          format: date-time
          type: string
      required:
      - activity_id
      - success
      - timestamp
    LiveActivityEndRequest:
      additionalProperties: true
      example:
        content_state:
          color: blue
          step_color: lime
          subtitle: subtitle
          auto_dismiss_minutes: 0
          title: title
          number_of_steps: 1
          current_step: 1
        activity_id: activity_id
      properties:
        activity_id:
          type: string
        content_state:
          $ref: '#/components/schemas/ContentStateEnd'
      required:
      - activity_id
      - content_state
    LiveActivityEndResponse:
      additionalProperties: true
      example:
        devices_queued: 0
        success: true
        activity_id: activity_id
        devices_notified: 6
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          type: boolean
        activity_id:
          type: string
        devices_queued:
          type: integer
        devices_notified:
          type: integer
        timestamp:
          format: date-time
          type: string
      required:
      - activity_id
      - success
      - timestamp
    sendPushNotification_429_response:
      oneOf:
      - $ref: '#/components/schemas/RateLimitError'
      - $ref: '#/components/schemas/LiveActivityLimitError'
  securitySchemes:
    apiKeyAuth:
      bearerFormat: API Key
      description: "Required. Include `Authorization: Bearer ask_123456789` in every\
        \ request. Replace `ask_123456789` with your API key."
      scheme: bearer
      type: http
